/* Import font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;800&display=swap");

body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    overflow: hidden;
}

::-webkit-scrollbar {
    width: 0;
    height: 0;
}

header ul {
    display: flex;
    list-style: none;
}

header ul a {
    text-decoration: none;
    color: #fff;
    padding: 0 1.5rem;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 0.83rem;
}

.no-pointer {
    pointer-events: auto;
    user-select: none;
}

.title {
    font-family: "Times New Roman", sans-serif;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
}

.title h2 {
    font-weight: 400;
    font-size: 3rem;
    line-height: 0.88;
    transition: font-size 0.35s ease-in-out;
}

.title h1 {
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 0.88;
    transition: font-size 0.35s ease-in-out;
}

.background {
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: -2;
}

.overlay {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    background: radial-gradient(circle at center, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.1) 40%, rgba(0, 0, 0, 0.75) 100%), linear-gradient(to bottom, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0.6) 70%);
    z-index: -1;
}

.navigation {
    position: absolute;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 3rem;
    width: 90%;
    margin-top: -7.5px;
    z-index: 99;
}

.nav-item a {
    color: rgba(255, 255, 255, 0.85);
    text-decoration: none;
    padding: 15px;
    pointer-events: auto;
    user-select: none;
    display: flex;
    align-items: center;
}

.nav-item a:hover {
    color: rgba(255, 255, 255, 0.65);
}

.item-container {
    display: flex;
    align-items: center;
}
  
.item-container img {
    width: 4rem;
    height: auto;
}

.item-container span {
    font-weight: 600;
    font-size: 1.5rem;
}



.content {
    position: relative;
}

.card-link {
    text-decoration: none;
    color: inherit;
}

.card {
    display: flex;
    align-items: flex-start;
    border: 1.5px solid rgba(217, 217, 217, .75);
    border-radius: 18px;
    padding: 10px;
    width: 300px;
    background-color: rgba(217, 217, 217, .35);
    backdrop-filter: blur(2px);
}

.card:hover {
    background-color: rgba(217, 217, 217, .45);
    backdrop-filter: blur(4px);
}
  
.card img {
    width: 10vh;
    height: auto;
    border-radius: 12px;
    border: 1.5px solid rgb(217, 217, 217);
}

.card-content h2 {
    color: rgba(255, 255, 255, 1);
    margin-top: 5px;
    margin-bottom: 0;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    font-size: 1.2rem;
    overflow: hidden;
}
  
.card-content p {
    color: rgb(255, 255, 255);
    margin-top: 0;
    margin-bottom: 0;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    font-size: .8rem;
    overflow: hidden;
}

.navbar {
    position: absolute;
    overflow: hidden;
    background-color: #333;
    z-index: 999;
}
  
.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}
  
.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.container {
    width: 85%;
    padding-top: 10vh;
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.Profile {
    position: absolute;
    background-color: rgba(69, 75, 109, 0.5);
    border: 1.5px solid rgba(217, 217, 217, 1);
    top: 12vh;
    left: -6vw;
    width: 22vw;
    height: 70vh;
    border-radius: 18px;
}

.Profile-Header {
    display: flex;
    align-items: flex-start;
}

.Profile-Header img {
    display: flex;
    margin-left: 0.75rem;
    margin-top: 0.75rem;
    border-radius: 1.2rem;
    width: 30%;
    height: auto;
}

.Profile-Header h1 {
    margin-left: 0.25rem;
    margin-bottom: 0;
    max-width: 80%;
    font-size: 1.3vw;
    color: rgba(255, 255, 255, 1);
    text-align: left;
}

.Profile-Header h2 {
    margin-top: 0;
    margin-left: 0.25rem;
    max-width: 80%;
    font-size: 1vw;
    color: rgba(255, 255, 255, 0.8);
    text-align: left;
}

.Profile-Header a:hover {
    text-decoration: underline;
    color: rgba(255, 255, 255, 0.8);
}

.Profile p {
    color: rgba(255, 255, 255, 1);
    width: 90%;
    text-align: left;
    margin-left: 0.75rem;

    -webkit-line-clamp: 11;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    font-size: .7rem;
    overflow: hidden;
    margin-bottom: 0.25rem;
}

.Profile-Socials {
    margin-left: 5px;
    display: flex;
    align-items: flex-start;
}

.Social-Icon {
    margin: 0.25rem;
    width: 60px;
    height: 60px;
    float: left;
    border-radius: 15px;
    background-image: url("https://images.rbxcdn.com/cb81907bd2020a31c4c556864c9d908c-SocialLinkSquareIconsV4.svg");
    background-size: 100% auto;
    transition: transform 0.3s ease-in-out;
}

.Social-Icon:hover {
    transform: scale(1.1);
}

.Roblox {
    background-position: 0 300px;
    height: 60px;
}

.Twitter {
    background-position: 0 -120px;
    height: 60px;
}

.Discord {
    background-position: 0 0;
    height: 60px;
}

.Header {
    position: absolute;
    background-color: rgba(69, 75, 109, 0.5);
    border: 1.5px solid rgba(217, 217, 217, 1);
    top: 12vh;
    left: 18vw;
    width: 70vw;
    height: 12.5vh;
    border-radius: 18px;
}

.Header-Top {
    display: flex;
    gap: 15px;
    margin: 10px;
    margin-bottom: 5px;
}

.Header-Top input {
    border: 0;
    border-radius: 8px;
}

.Header-Top button {
    border: 0;
    border-radius: 4px;
}

.Header-Bottom {
    display: flex;
    margin: 10px;
    margin-top: 5px;
}

.hidden-properties {
    display: none;
}

.Strategies {
    position: absolute;
    background-color: rgba(69, 75, 109, 0.5);
    border: 1.5px solid rgba(217, 217, 217, 1);
    top: 28vh;
    left: 18vw;
    width: 70vw;
    height: 62.5vh;
    border-radius: 18px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: 118px;
    overflow-y: auto;
}

.Strategy {
    display: flex;
    height: 100px;
    background-color: rgba(69, 75, 109, 0.5);
    backdrop-filter: blur(2px);
    border: 1.5px solid rgba(217, 217, 217, 1);
    border-radius: 10px;
    margin: 10px;
    text-align: left;
    transition: background-color 0.3s ease-in-out;
}

.Strategy:hover {
    background-color: rgba(69, 75, 109, 0.2);
}

a {
    text-decoration: none;
}

.Strategy h1 {
    font-size: 1rem;
    color: rgba(255, 255, 255, 1);
    margin-right: 4.5px;
}

.Strategy img {
    height: 80%;
    width: auto;
    border-radius: 8px;
    margin: 10px;
}